html, body {
    font-family: 'Ubuntu', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Russo One', sans-serif;
    color: @secondary-color;
}

.st {
    background-color: @accent-color;

    .space-font {
        font-family: 'Russo One', sans-serif;
        font-size: 40px;
        color: @secondary-color;
    }

    .nav {
        a:link {
            color: @secondary-color;
        }
    }
}

.container {
    max-width: 880px;
    width: 100%;
}

// .opacity(0.2)
// .border-radius(0.8)
img {
    .opacity(0.8);
    .border-radius;
    width: 95%;
}

.lets-walk {

    #walk {
        width: 80%;
    }
}

.launchz {
    background-color: @secondary-color !important;
    border: 1px @secondary-color solid !important;
}

.footer {
    background-color: @accent-color;
}