html, body {
    font-family: 'Ubuntu', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Russo One', sans-serif;
    color: @secondary-color;
}

// .opacity(0.2)
// .border-radius(0.8)
img {
    .opacity(0.8);
    .border-radius;
    width: 90%;
}